body { 
    font-family: Arial, Helvetica, sans-serif;
    font-size:  100%;
}

h1 {
    font-size:  200%
}

h2 {
    font-size:  150%
}

aside {
    width: 25%;
    min-width: 100px;
    max-width: 150px;
    float: right;
    border: solid;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    font-size: medium;
    font-weight: 700;
    background-color: lightblue;
    color: red;
}

aside.asiMascot {
    width: 40%;
    min-width: 150px;
    max-width: 200px; 
}

table {
    border-collapse: collapse;
}

table, th, td { 
    border: 1px solid black;
  
}

table th {
    position: sticky;
    top: 0;
}

table tr {
    scroll-snap-align: start;
}

tbody tr:nth-child(even) {
    background-color: beige;
}

th {
    background-color: darkblue;
    color: white;
}

.demon {
    width: 1%;
    float: right;
}

.clsRSVPs {
    width:  100%;
}

.scrollableTable {
    width: 800px;
    height:  200px;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

.responseYes {
    background-color: green;
    color: white;
    text-align: center;    
}

.responseMaybe {
    background-color: yellow;
    color:  black;
    text-align: center;
}

.responseNo {
    background-color: red;
    color: black
}

.rightJustifiedText {
    text-align: right;
}

.centeredText {
    text-align: center;
}

.leftJustifiedText, td, th {
    text-align: left;
}

.clsComments { /* why isn't this working? */
    width:  200px;
}

.ghsInfo {
    display: flex;
    flex-direction: row;
}

.ghsInfoText {
    margin-left: 20px;
    vertical-align: middle; /* why isn't this working? */
}