/*
to do:  uncomment the universal styling rule and adjust specific styling rules
*/

/* * { 
    margin: 0;
    padding: 0;
} */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size:  100%;
}

h1 {
    font-size:  200%
}

h2 {
    font-size:  150%
}

aside {
    float: right;
    border: solid;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    font-size: medium;
    font-weight: 700;
    background-color: lightblue;
    color: red;
}

aside.asiMascot {
    width: 250px;
    justify-content: center;
}

aside.asiDates {
    width: 190px;
    justify-content: center;
}

table {
    border-collapse: collapse;
}

table, th, td { 
    border: 1px solid black;
}

table th {
    position: sticky;
    top: 0;
}

table tr {
    scroll-snap-align: start;
}

tbody tr:nth-child(even) {
    background-color: beige;
}

th {
    background-color: darkblue;
    color: white;
}

figcaption {
    text-align: center;
}

.tblScrollable {
    width: 100%;
}

.divScrollable {
    height: 200px;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

.floatClear {
    clear: both;
}

.responseYes {
    background-color: green;
    color: white;
    text-align: center;    
}

.responseMaybe {
    background-color: yellow;
    color: black;
    text-align: center;
}

.responseNo {
    background-color: red;
    color: white;
    text-align: center;
}

.rightJustifiedText {
    text-align: right;
}

.centeredText {
    text-align: center;
}

.leftJustifiedText, td, th {
    text-align: left;
}

.clsComments { /* why isn't this working? */
    width:  200px;
}

.ghsInfo {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.ghsInfoText {
    margin-left: 20px;
}

.clsGreen {
    color: green;
    font-weight: bold;
    font-style: italic;
}

.colorGreen {
    color:  white;
    padding: 10px;
    background-color: green;
    font-weight: bold;
}

.colorYellow {
    color:  black;
    padding: 10px;
    background-color: yellow;
    font-weight: bold;
}

.colorRed {
    color:  white;
    padding: 10px;
    background-color: red;
    font-weight: bold;
}

.clsImage {
    display:  flex;
    flex-direction: column;
    justify-content: space-between;
    width: 223px;
    /* height:  252px; */
}

.clsMascot {
    width:  252px;
    height: 252px;
}

.figLeftJustified {
    justify-content: left;
}

.divJustifyCenter {
    vertical-align: middle;
}

.idRsvpButtons {
    display:  flex;
    flex-direction: row;
    justify-content: left;
}